h1, h2, h3{
    font-family: 'Arima Madurai', cursive;
}

p, a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.nav{
    height: 6vh;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    display:flex;
    align-items: center;
    position: sticky;
}

.jumbotron{
    background: url("../images/LMTR_stock_woman_and_cat.jpg");
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items:flex-end;
    padding-left: 30px;
    padding-bottom:50px;
}

.display-4{
    color:white;
    text-shadow:2px 2px 2px rgba(50, 50, 50, 1);
}

.summary{
    padding:50px 0px 50px 0px;
    text-align:left;
}

.col-md, .col-xl{
    text-align: left;
    padding:20px 0px 0px 0px;
}

img{
    padding: 20px 0px 20px 0px;
    width:60%;
    display:block;
    margin:auto;
}

h2{
    padding-top: 50px;
}